{{ $packages := list
  "bat"
  "build-essential"
  "curl"
  "fd-find"
  "fzf"
  "git"
  "git-lfs"
  "jq"
  "libfuse2"
  "openssh-server"
  "ripgrep"
  "shellcheck"
  "units"
  "btop"
  "xclip"
  "musl-tools"
  "zsh" -}}

{{ $snaps := list -}}
{{ $classicSnaps := list -}}

{{ if not .headless -}}
{{   $classicSnaps = mustAppend $classicSnaps "code" -}}
{{ end -}}

{{ if and (eq .osid "linux-ubuntu") (not .ephemeral) -}}
{{   $packages = concat $packages (list "gdal-bin" "libgeos-dev" "libproj-dev" "postgis" "postgresql") -}}
{{ end -}}

{{ if and (eq .osid "linux-ubuntu") (not .headless) (not .ephemeral) -}}
{{   $packages = concat $packages (list "qgis") -}}
{{ end -}}

#!/bin/bash

set -eufo pipefail

sudo apt-get update
sudo apt-get install -y {{ $packages | join " " }}

{{ if lookPath "snap" }}
{{   range $snaps }}
( snap info {{ . }} | grep -q ^installed: ) || {{ $sudo }}snap install {{ . }}
{{   end }}
{{   range $classicSnaps }}
( snap info {{ . }} | grep -q ^installed: ) || {{ $sudo }}snap install --classic {{ . }}
{{   end }}
{{ end }}

